name: Q2Admin Build

on:
  push:
    branches: [master, aqtion]
  pull_request:
    branches: [master, aqtion]

jobs:
  linux_x86_64_build_q2admin:
    runs-on: [self-hosted, x86]
    steps:
      - uses: actions/checkout@v3
        with:
          repository: actionquake/q2admin
          ref: ${{ github.ref }}
          path: build
      
      - name: Set shortversion
        id: shortversion
        working-directory: build
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Rename config.ex.lua
        working-directory: build/src
        run: |
          mv ../config.ex.lua ../config.lua

      - name: Build q2admin
        working-directory: build
        run: make -j2 V=1
        env:
          CC: "gcc"
          USE_AQTION: "1"

      - name: Generate archive
        uses: actions/upload-artifact@v3
        with:
          name: q2admin-lin-x86_64
          path: |
            build/gamex86_64.so
            build/plugins
            build/config.lua

  linux_arm64_build_q2admin:
    runs-on: [self-hosted, ARM64]
    steps:
      - uses: actions/checkout@v3
        with:
          repository: actionquake/q2admin
          ref: ${{ github.ref }}
          path: build

      - name: Set shortversion
        id: shortversion
        working-directory: build
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Rename config.ex.lua
        working-directory: build/src
        run: |
          mv ../config.ex.lua ../config.lua

      - name: Build q2admin
        working-directory: build
        run: make -j2 V=1
        env:
          CC: "gcc"
          USE_AQTION: "1"

      - name: Generate archive
        uses: actions/upload-artifact@v3
        with:
          name: q2admin-lin-arm64
          path: |
            build/gameaarch64.so
            build/plugins
            build/config.lua
