name: Q2Admin Release

on:  
  push:
    tags:
      - 'v*'

jobs:
  generate_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: actionquake/q2admin
          ref: ${{ github.ref }}

      - name: version
        run: echo "::set-output name=version::$(git rev-parse --short HEAD)"
        id: version
        
      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: false
          prerelease: false
          release_name: q2admin_${{ steps.version.outputs.version }}
          tag_name: ${{github.ref_name}}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Download Linux x64 build artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yaml
          name: q2admin-lin-x86_64
          skip_unpack: true
      
      - name: Download Linux ARM x64 build artifacts
        uses: dawidd6/action-download-artifact@v2
        with:
          workflow: build.yaml
          name: q2admin-lin-arm64
          skip_unpack: true

      - name: Upload dist tarball to release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          body_path: 
          tag_name: ${{github.ref_name}}
          files: |
            q2admin-lin-x86_64.zip
            q2admin-lin-arm64.zip

